{% extends 'layout.html' %} {% block body %}
<main class="" id="main-collapse">


  <div class="row">
    <div class="col-xs-12 col-md-6">
      <img class="img-responsive" alt="" src="{{ url_for('static', filename='ahmed-hiking.jpg') }}">
    </div>
    <div class="col-xs-12 col-md-6">
      <h1>About me</h1>

      <p>My name is Ahmed and I am an independent full stack web developer. I have a passion for technology, and I love hiking. Basically, I am a geek, supertramp, and a little bit of a dreamer.</p>

      <h3>Here is what I work on:</h3>
      <ul>
        <li>Python (Develop Complete Web Apps and Web Services)</li>
        <li>JavaScript and JQuery (AJAX, APIs, Authentication & Authorization)</li>
        <li>Website Performance and SEO Services</li>
      </ul>

      <h3>My Qualifications:</h3>

      <ul>
        <li>FullStack NanoDegree from Udacity.</li>
        <li>Front-End Certificate from FreeCodeCamp.</li>
        <li>Bachelor Degree, Computer Engineering.</li>
      </ul>

      <h3>Catalog App</h3>
      <p>This is a complete web application made using Flask framework. It utilizes different features including Authentication & Authorization using OAuth2.0, JSON endpoints, local permission system, and finally a CRUD operations for registered users.</p>
      <p>For more information, please refer to our documentation <a href="#">HERE</a>.</p>

      <!--<a href="./contact" class="btn btn-primary" title=""> Get in touch</a>-->
    </div>
  </div>

</main>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    navbarToggleSidebar();
    navActivePage();
  });
</script>

<script type="text/javascript" src="{{ url_for('static', filename='main.85741bff.js') }}"></script>
{% endblock %}
