{% extends 'layout.html' %} {% block body %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  input {
    color: white;
    border: 2px solid white;
    background: transparent;
    font-size: 18px;
    position: relative;
    left: 0;
    height: auto;
    padding: 20px 20px;
    margin-top: 10px;
  }

  ::-webkit-input-placeholder {
    /* Chrome */
    color: white;
  }

  form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
  }
  h3 {
    color:white;
    font-size:30px;
    font-family:'Roboto';
    text-align:center;"
  }
</style>

<main class="" id="main-collapse">
  <div class="col-md-7" style="background:url('{{ url_for('static', filename='popup.jpg') }}')">
    <h3>
    Delete {{item.name}}
    </h3>
    <form method="post" enctype=multipart/form-data action="{{ url_for('deleteItem',category=category.name,item_id=item.id) }}">
      <p style="color:white;font-size:20px;">Are you sure that you want to remove the item: <strong>{{item.name}}</strong>?<p>
      <p style="text-align: right; margin-top: 20px;">
        <a href="/" class="btn btn-lg btn-primary">Cancel</a>
        <input type="submit" value="Delete Item" class="btn btn-lg btn-danger" style="margin-top:0;"/>
      </p>
    </form>
  </div>
  <div class="col-md-4"></div>
</main>

<link rel="stylesheet" type="text/css" href="http://www.shieldui.com/shared/components/latest/css/light-bootstrap/all.min.css" />

{% endblock %}
