{% extends 'layout.html' %} {% block body %}
<style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');
  .width {
    width: 100%;
  }

  input,
  textarea {
    color: white;
    border: 2px solid white;
    background: transparent;
    font-size: 18px;
    position: relative;
    left: 0;
    height: auto;
    padding: 20px 20px;
    margin-top: 10px;
  }

  ::-webkit-input-placeholder {
    /* Chrome */
    color: white;
  }

  form {
    width: 90%;
    max-width: 375px;
    margin: 60px auto;
  }

  h3 {
    color: white;
    font-size: 30px;
    font-family: 'Roboto';
    text-align: center;
    "

  }
</style>
<main class="" id="main-collapse">
  <div class="col-md-6" style="background:url('{{ url_for('static', filename='popup.jpg') }}')">
    <h3>New item for {{category}}</h3>
    <form method="post" enctype=multipart/form-data action="{{ url_for('addNewItem', category=category) }}">
      <input class="width" type="text" name="name" placeholder="Name for this item" />
      <input class="width" type="text" name="price" placeholder="How much for this item?" />
      <textarea class="width" type="textarea" name="description" placeholder="description" maxlength="140" rows="7"></textarea>
      <input class="width" type="file" id="files" name="photo" multiple="multiple" />
      <p style="text-align: right; margin-top: 20px;">
        <a href="/" class="btn btn-lg btn-primary">Cancel</a>
        <input type="submit" value="Add Category" class="btn btn-lg btn-primary" style="margin-top:0;" />
      </p>
    </form>
  </div>
</main>

{% endblock %}
